	<!-- 联系我们 -->
	<div class="footer">
		<div class="w">
			<div class="footer-title clearfix">
				<p>联系我们 / </p>
				<h2>CONTACT US</h2>
			</div>

			<ul>
				<li>
					<i class="icon-f icon-f-1"></i>
					<p>地址：深圳市宝安区沙井街道新桥北环路102号</p>
				</li>
				<li>
					<i class="icon-f icon-f-2"></i>
					<p>电话：0755-29882276</p>
				</li>
				<li>
					<i class="icon-f icon-f-3"></i>
					<p>传真：0755-29882279</p>
				</li>
				<li>
					<i class="icon-f icon-f-4"></i>
					<p>E-MAIL：shuangdasz@163.com</p>
				</li>
			</ul>

			<div class="QRcode">
				<img src="images/QRcode.jpg">
				<p>模范好少年</p>
			</div>

			<!-- 百度地图 -->
			<div id="allmap">
				地图加载中...
				<iframe runat="server" width="715" height="560" src="view/map.html" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
			</div>
		</div>

		<div class="copyright">
			<a href="javascript:;">
				《中华人民共和国XXX服务行业许可证》
			</a>
			<span>
				版权所有：深圳市模范好少年文化发展有限公司
			</span>
			<span>
				粤ICP备XXXXXXXX号
			</span>
			<span>
				全容公司提供技术支持
			</span>
		</div>
	</div>

