	<!-- 头部 -->
	<div class="top-box">
		<div class="header ie-rounded">
			<div class="w">
				<!-- logo -->
				<a href="javascript:;"><img src="images/logo.png"></a>

				<!-- 导航 -->
				<p class="ie-rounded">
					<a href="view/about.html">关于我们</a>
					<a href="view/news.html">新闻资讯</a>
					<a href="view/x.html">课程模范</a>
					<a href="view/x.html">名师团队</a>
					<a href="view/x.html">机构联盟</a>
					<a href="view/x">联系我们</a>
					<a href="javascript:;" class="phone">0755-29882276</a>
				</p>
			</div>
		</div>

		<!-- 轮播图 -->
	    <div class="slide-box">
			<ul class="slides clearfix">
				<li><a href="javascript:;" target="_blank" title="轮播图一"><img src="images/slide1.jpg" alt="轮播图一"></a></li>
				<li><a href="javascript:;" target="_blank" title="轮播图二"><img src="images/slide1.jpg" alt="轮播图二"></a></li>
				<li><a href="javascript:;" target="_blank" title="轮播图三"><img src="images/slide1.jpg" alt="轮播图三"></a></li>
			</ul>
		</div>

		<!-- 波浪边框 -->
		<div class="top-boder"></div>
	</div>