<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]><html class="no-js ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]><html class="no-js"><![endif]-->
<!--[if !IE]>
<!--><html><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>联系我们-模范好少年</title>
	<meta name="description" content="">
	<meta name="Keywords" content="">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/default.css">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../js/PIE_IE678.js"> </script>
    <![endif]-->

</head>
<body>
	<!-- 头部 -->
	<div class="top-box">
		<div class="header ie-rounded">
			<div class="w">
				<!-- logo -->
				<a href="../index.html"><img src="../images/logo.png"></a>

				<!-- 导航 -->
				<p class="ie-rounded">
					<a href="about.html">关于我们</a>
					<a href="news.html">新闻资讯</a>
					<a href="course.html">课程模范</a>
					<a href="teacher.html">名师团队</a>
					<a href="organization.html">机构联盟</a>
					<a href="contact.html">联系我们</a>
					<a href="javascript:;" class="phone">0755-29882276</a>
				</p>
			</div>
		</div>

		<!-- 轮播图 -->
	    <div class="slide-box">
			<ul class="slides clearfix">
				<li><a href="javascript:;" target="_blank" title="轮播图一"><img src="../images/slide1.jpg" alt="轮播图一"></a></li>
				<li><a href="javascript:;" target="_blank" title="轮播图二"><img src="../images/slide1.jpg" alt="轮播图二"></a></li>
				<li><a href="javascript:;" target="_blank" title="轮播图三"><img src="../images/slide1.jpg" alt="轮播图三"></a></li>
			</ul>
		</div>

		<!-- 波浪边框 -->
		<div class="top-boder"></div>
	</div>

	<!-- 尾部 -->
	<!-- 联系我们 -->
	<div class="footer">
		<div class="w">
			<div class="footer-title clearfix">
				<p>联系我们 / </p>
				<h2>CONTACT US</h2>
			</div>

			<ul>
				<li>
					<i class="icon-f icon-f-1"></i>
					<p>地址：深圳市宝安区沙井街道新桥北环路102号</p>
				</li>
				<li>
					<i class="icon-f icon-f-2"></i>
					<p>电话：0755-29882276</p>
				</li>
				<li>
					<i class="icon-f icon-f-3"></i>
					<p>传真：0755-29882279</p>
				</li>
				<li>
					<i class="icon-f icon-f-4"></i>
					<p>E-MAIL：shuangdasz@163.com</p>
				</li>
			</ul>

			<div class="QRcode">
				<img src="../images/QRcode.jpg">
				<p>模范好少年</p>
			</div>

			<!-- 百度地图 -->
			<div id="allmap">
				地图加载中...
				<iframe runat="server" width="715" height="560" src="../view/map.html" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
			</div>
		</div>

		<div class="copyright">
			<a href="javascript:;">
				《中华人民共和国XXX服务行业许可证》
			</a>
			<span>
				版权所有：深圳市模范好少年教育公司
			</span>
			<span>
				粤ICP备XXXXXXXX号
			</span>
			<span>
				全容公司提供技术支持
			</span>
		</div>
	</div>
	<!-- 返回顶部 s-->
	<div class="rocket-to-top">
		<div class="level-2"></div>
		<div class="level-3"></div>
	</div>
	<!-- 返回顶部 e-->

	<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="../js/sucaijiayuan.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript">
		$(function(){
			$(".header .ie-rounded a").eq(5).addClass("act");			
			//ie兼容css3圆角/阴影
			if (window.PIE){
				$('.ie-rounded').each(function() {　
			　　　　PIE.attach(this);　
			　　});　
			};

		})

	</script>
</body>
</html>